---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogEntries from "@/components/entries/BlogEntry.astro";
import Cta from "@/components/global/Cta.astro";
import { getCollection } from "astro:content";
import logo from "@/images/logo-circular.png";
import logoYoutube from "@/images/logo-youtube.png"
import logoSpotify from "@/images/logo-spotify.png"
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
// Sort posts by date in descending order (newest first)
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
---

<BaseLayout title="Discusiones Alrededor de la Biblia" displayBanner={true}>
  <section>
    <Cta
      title="Ya estamos en Spotify"
      description="Disfruta de nuestros episodios en audio o video"
      url="https://open.spotify.com/show/6YUuB3dgq7vaLK6YVXvs7Q"
      image={{ src: logo, alt: "Discusiones Alrededor de la Biblia" }}
      socialImage={{ src: logoSpotify, alt: "Discusiones Alrededor de la Biblia" }}
    />
    <div>
      <p>
        <strong>Bienvenido a Discusiones Bíblicas</strong>, un espacio donde la pasión por la Biblia se une al análisis profundo y el debate respetuoso.
        <br />
        <br />
        <strong>Aquí encontrarás:</strong>
        <br />
        <br />
        <ul>
          <li><strong>Episodios:</strong> Explora una amplia gama de temas bíblicos a través de análisis, debates y entrevistas con expertos.</li>
          <li><strong>Recursos:</strong> Accede a materiales descargables, artículos y enlaces a recursos adicionales para profundizar en tu estudio.</li>
          <li><strong>Comunidad:</strong> Únete a nuestro foro en línea y participa en discusiones con otros apasionados por la Biblia.</li>
        </ul>
        <br />
        <br />
        <strong>¿Estás listo para embarcarte en un viaje de descubrimiento bíblico?</strong> Suscríbete a nuestro podcast, explora nuestro sitio web y únete a la comunidad de "Discusiones Bíblicas".
      </p>
      <br />
      <br />
      <Cta
        title="Conoce nuestro canal de YouTube"
        description="Suscríbete a nuestro canal de YouTube y únete a la comunidad de Discusiones Bíblicas."
        url="https://www.youtube.com/@discusionesalrededordebiblia"
        image={{ src: logo, alt: "Discusiones Alrededor de la Biblia" }}
        socialImage={{ src: logoYoutube, alt: "Discusiones Alrededor de la Biblia" }}
      />
      <div class="flex flex-wrap gap-3 mt-8">
        {
          tags.map((tag) => (
            <a
              class=" hover:text-blue-500 text-xs font-medium text-base-600"
              href={`/tags/${tag}`}
            >
              {tag}
            </a>
          ))
        }
      </div>
      <div class="grid grid-cols-1 mt-4 gap-8 gap-y-24 sm:grid-cols-2">
        {
          sortedPosts.slice(0, 6).map((post) => (
            <BlogEntries
              url={"/posts/" + post.slug}
              alt={post.data.title}
              tags={post.data.tags}
              title={post.data.title}
              author={post.data.author}
              image={post.data.image.url}
              description={post.data.description}
              pubDate={post.data.pubDate.toLocaleDateString("es-MX", {
              day: "numeric",
              month: "short",
              year: "numeric",
            })}
            />
          ))
        }
      </div>
      <Cta
        title="Encuentra todos nuestros episodios"
        description="Todos los episodios disponibles en un solo lugar"
        url="https://discusionesbiblicas.com/allposts"
        image={{ src: logo, alt: "Discusiones Alrededor de la Biblia" }}
        socialImage={{ src: logo, alt: "Discusiones Alrededor de la Biblia" }}
      />
    </div>
  </section>
</BaseLayout>
